<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>importarcsvporcampo</name>
            <displayName><![CDATA[ImportarCsvPorCampo]]></displayName>
            <version><![CDATA[2.1.1]]></version>
            <description><![CDATA[Actualizar tu tabla de productos importando por un campo]]></description>
            <author><![CDATA[]]></author>
            <tab><![CDATA[http://todoprestashop.com | [hans] | Adaptado por Proa It Services]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>
